<div id="main" class="flex flex-row my-4 justify-center sm:hidden">
    <!--Main Navigation component <Home Services Portfolio Podcast Devs Normal People Contact>-->
    <!--TODO THERE NEEDS TO BE A GOOD Headshot here-->
    <div id="headshot" class="w-40 sm:w-20">
        <a routerLink="/" routerLinkActive="active"><img class="roundimg w-60 shadow-2xl "
                src="../assets/leftlook.jpg"></a>
    </div>
    <div id="header" class="flex flex-col ml-20 align-middle">
        <div id="title">
            <a id="homelink" routerLink="/" routerLinkActive="active">
                <h1 class="text-6xl font-myserif text-blue-800">Erick Roberts</h1>
            </a>
        </div>
        <div id="menubar" class="flex flex-row justify-between font-mysans text-blue-600">
            <a id="portfoliolink" routerLink="/portfolio-home" routerLinkActive="active">Portfolio</a>
            <a id="bloglink" routerLink="/blog-home" routerLinkActive="active">Blog</a>
            <a id="resumelink" routerLink="/resume" routerLinkActive="active">Resume</a>
            <a id="podcastlink" routerLink="/podcast" routerLinkActive="active">Podcast</a>
            <a id="contactlink" routerLink="/contact" routerLinkActive="active">Contact</a>
        </div>
    </div>
    <!--There needs to be an opt-in - SortOf or a let me know you stopped by-->
    <!--go to resume link resume should have an svg on the page and it should have a download btn-->
    <!--what have I done page - This would outline some case studies of projects that I have done-->
    <!--some footer saying I own this-->
</div>
<div id="main_mobile" class="md:hidden ">
    <div id="mobile header" class="text-center bg-blue-800">
        <h1 class="text-4xl font-myserif text-white">Erick Roberts</h1>
    </div>
    <div id="topnav" *ngIf="burgerShow" class="flex flex-col max-w-full justify-around align-middle bg-blue-100 text-black" (click)="burgerClick()">
        <a id="homelink" class="mx-2 p-1" routerLink="/" routerLinkActive="mobileactive" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a id="portfoliolink" class="mx-2  p-1" routerLink="/portfolio-home" routerLinkActive="mobileactive">Portfolio</a>
        <a id="bloglink" class="mx-2  p-1" routerLink="/blog-home" routerLinkActive="mobileactive">Blog</a>
        <a id="resumelink" class="mx-2  p-1" routerLink="/resume" routerLinkActive="mobileactive">Resume</a>
        <a id="podcastlink" class="mx-2  p-1" routerLink="/podcast" routerLinkActive="mobileactive">Podcast</a>
        <a id="contactlink" class="mx-2  p-1" routerLink="/contact" routerLinkActive="mobileactive">Contact</a>
    </div>
    <div id="row_one" class="flex flex-row my-8 mr-4 ml-6 justify-between">
        <div id="headshot" class="container mx-auto w-32 ">
            <img class="roundimg shadow-xl" src="../assets/leftlook.jpg">
        </div>
        <div id="burger" *ngIf="!burgerShow" class="max-w-20" (click)="burgerClick()">
            <img src="../assets/list.png" >
        </div>
    </div>
</div>