<div id="body-text" class="flex flex-col mx-body sm:mx-4 md:mt-20 sm:mt-10 font-mysans text-2xl sm:text-lg">
    <h2 class="text-blue-800 text-4xl sm:text-2xl">Hello, thank you for taking time to visit my site!</h2>
    <p class="pt-4">Something special is happening in my life...<br><br>
    I am looking for a new place to grow and develop software applications. This is both a very exciting and trying time. I am optimistic that something will come my way and I can partner with an amazing company and add value in a big way.
    </p>
    <img class="w-1/2 mx-auto" src="../assets/searching.svg" alt="Going big places">
    <h2 class="pt-10 pb-4 font-mysans text-blue-800 text-3xl sm:text-xl">
        If you are here for that reason,  here is a little bit about me......
    </h2>
    <p class="pt-8 pb-8">
        If you are looking for a "Computer Scientist" or an "Engineer" in the true sense of those words I am not that. <br><br>
        However, if you are looking for someone who is passionate about developing actionable software that produces business outcomes I am your guy. Requirements are really important to me and I am commited to not over-engineer something, technology wise, just to scratch my geek itches. Because I do have those. I am interested in the way technology is changing so fast and how that affects the way software is developed. <br><br>

        <img class="mx-auto p-4 pb-4" src="../assets/Results.svg" alt="I get things done.">

        <br><br>
        Just as most developers, I have to continually learn and am eager to do so. I hope that shows in the way I work with technology that I haven't quite mastered yet. I don't add new technology to projects just to try them out. There has to be a reason or some problem that needs to be solved.
        <br><br>
        
        I have 10 years of experience (see the first iteration of the resume tab <a class="text-blue-500" href="resume">here</a> or <a class="text-blue-500"  href="https://app.pluralsight.com/profile/erick-roberts">my pluralsight profile</a> ) developing projects for companies in a variety of spaces (health care services, power industry, food manufacturing, textiles and mining). Unfortunately with most consulting work, all of those projects are wrapped up in NDA's. So what I hope to do in the next few months is to start creating a portfolio <a class="text-blue-500" href="portfolio">here</a>.
    </p>
    
    <p class="pt-8 pb-8">
          <img class="w-1/2 mx-auto p-4 pb-4" src="../assets/WIP.svg" alt="I get things done.">
        Over the next few months you will see me working through creating a CMS portal for this site, creating a quick and actionable inventory software, developing an interactive resume, and potentially an eCommerce site of some sort. <br><br>
        I hope to document some of this in a weekly work log (audio/video). My aim is showcase my ability to develop applications and work through business cases. While some of these cases will be mundane, they should display my ability to architect, code, troubleshoot, and test solutions. Whether or not that all happens before I find a position or not I believe I will finish this for future situations like this.
        <br><br>
        Please keep in mind that software development is an iterative process so there are currently lots of work in progress placeholders on most of the links. I will be putting out weekly updates on the portfolio progress. If you would like those updates emailed to you please sign up here. At the least, it should be fun to watch and maybe there will be something you can take away from it?
        <!--TODO - Need a call to action to pop up a mailchimp sign up thing-->
    </p>
  </div>