
@import url('https://fonts.googleapis.com/css?family=Martel|Merriweather|Montserrat|Nunito|Nunito+Sans&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



.roundimg
{
    border-radius: 50%;
}
.active
{
    color: #4299e1;
}
.mobileactive
{
    color: #3182ce;
    margin-left: 2rem
}
.font-mysans
{
    font-family: 'Nunito Sans', sans-serif;
}

font-myserif
{
    font-family: 'Montserrat', sans-serif;
}

font-fancy
{
    font-family: 'Merriweather', serif;
}

.mx-body{
    
    margin-left: 25%;
    margin-right: 25%;
}